*{
    color: rgb(8, 8, 0);
    margin: 1cap;
   gap: 0%;
   background-color: black;
}
#hed1{
    background-color: rgb(255, 0, 0);

}
.clr{
    color: rgb(255, 255, 255);
}
header{
    display: flex;
   
background-color: red;
justify-content: space-between;
align-items: center;
margin: 0%;

}
header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    

}
header nav ul li {
    display: flex;
    gap: 20px;
    justify-content: center;
}
header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
   
}


.gymn{
    text-align: center;
}
.clr1{
   
    color:rgb(255, 255, 255)
    
}
.clr2{
    color: rgb(192, 0, 0);
}
.clr3{
    color: rgb(252, 252, 252);
    text-align: center;
}
.clr4{
    color: rgb(240, 240, 240);
    text-align: center;
}
.clr5{
    text-align: center;
    color: rgb(255, 0, 0);
}
#mt {
    text-align: center;
}
.TX{

    text-align:center;
    
padding: 180px;
padding-top: 20px;
padding-bottom: 20px;}
#bd1{
    border: 200px;
    border-color:blueviolet;
    
    
}
.CLR{
    color: red;
}
#md1{
    display: flex;
    gap: 180px;
    flex-wrap: wrap;
}

.contact{
    text-align: center;
    color: rgb(255, 0, 0);
}

#maindiv{
    color: seashell;
}